* {
  box-sizing: border-box;
  font-family: "Mulish", serif;
  margin: 0;
}
.navi {
  max-width: 1440px;
}

.container {
  max-width: 1110px;
  margin: 0px 128px;
}

.hotel__price {
  font-family: "Nunito", serif;
}

.newsletter {
  background: #0A223D url(img/Slider.jpg);
  opacity: 0.8;
}

.newsletter-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  background-color: #fff;
}

.header-wrap {
  display: flex;
  align-items: center;
  height: 120px;
}

.logo {
  margin-right: 110px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
}

.search__input {
  height: 40px;
  width: 285px;
  background-color: #F5FAFE;
  border: 0;
  border-radius: 2px;
}

.search__button {
  height: 40px;
  width: 65px;
  background-color: #EC1F46;
  border: 0;
  border-radius: 5px;
}

.user {
  display: flex;
  align-items: center;
}

.user__avatar {
  margin-right: 20px;
}

.navi {
  height: 80px;
  background-color: #0A223D;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 90px;
}

.nav {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.navi__link {
  text-decoration: none;
  color: #FFFFFF;
}

.hotel-name {
  max-width: 1110px;
  height: 70px;
}

.Name {
  font-size: 24px;
  text-transform: uppercase;
  margin-right: 14px;
}

.hotel-name__container {
  display: flex;
  align-items: center;
}

.flash-offer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  color: #FFFFFF;
  width: 70px;
  height: 20px;
  background-color: #EC1F46;
}

.hotel-name__rating {
  width: 65px;
  height: 45px;
  background-color: #EC1F46;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.rate-text {
  font-size: 8px;
  display: flex;
  flex-wrap: nowrap;
}

.hotel {
  max-width: 1110px;
  margin: auto;
}

.hotel__images {
  max-width: 1110px;
  margin-right: 28px;
}

.hotel__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hotel__price {
  width: 350px;
  height: 210px;
  background-color: #0A223D;
  border-radius: 5px;
  color: white;
}

.hotel__rent {
  display: flex;
  margin-bottom: 72px;
}

.start {
  font-size: 10px;
  display: block;
}

.price {
  font-size: 24px;
  display: block;
}

.night {
  font-size: 12px;
  display: block;
}

.booking {
  font-size: 18px;
  display: block;
}

.hotel__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding: 27px 27px 30px 27px;
  margin-bottom: 22px;
}

.guest {
  display: block;
  display: flex;
}

.room {
  display: block;
}

.hotel__price--start {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel__price--booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel__price--button {
  width: 295px;
  height: 45px;
  background-color: #EC1F46;
  border-radius: 4px;
  color: white;
  border: 0;
}

.img-room {
  margin-right: 16px;
}

.phone-call {
  margin-right: 8px;
}

.hotel__rent--container {
  display: flex;
  flex-direction: column;
}

.newsletter {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 48px;
}

.newsletter-text {
  font-size: 24px;
  color: white;
}

.newsletter-h2 {
  font-size: 36px;
  text-transform: uppercase;
  color: white;
}

.newsletter-input {
  width: 285px;
  height: 55px;
  border: 0;
  color: #bdbdbd;
  font-size: 14px;
  border-radius: 2px;
}

.newsletter-button {
  width: 65px;
  height: 55px;
  background-color: #EC1F46;
  color: white;
  border: 0;
  border-radius: 2px;
}

.newsletter-search {
  display: flex;
  border-radius: 3px;
}

.rating-h2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 78px;
}

.rating-h2__title {
  font-size: 36px;
  text-transform: uppercase;
}

.rating-container__block {
  width: 731px;
  height: 280px;
  background-color: #F5FAFE;
  border-radius: 5px;
}

.rating-block__name {
  color: #EC1F46;
  font-size: 12px;
  margin-bottom: 14px;
}

.rating-block__date {
  color: #000000;
  font-size: 10px;
  margin-bottom: 9px;
}

.rating-container__icon {
  position: absolute;
  top: -50px;
}

.rating-container__photos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.rating {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 133px;
}

.rating-container__text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rating-block__text {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  top: 56px;
  align-items: center;
}

.rating-block__stars {
  width: 48px;
  height: 8px;
}

.rating-block__paragraph {
  position: relative;
  top: 80px;
  left: 96px;
  width: 537px;
  height: 114px;
}

.rating-block__paragraph--p {
  width: 537px;
  height: 114px;
  font-size: 12px;
  line-height: 1.7;
}

.rating-container__button {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 0;
}

.activities-title {
  width: 300px;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 65px;
  position: relative;
  left: 120px;
}

.activities-container {
  max-width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.activities-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.activities-card__button {
  width: 100px;
  height: 30px;
  background-color: #EC1F46;
  border: 0;
  border-radius: 4px;
  color: white;
}

.activities-card__span {
  font-size: 16px;
  margin-bottom: 20px;
}

.activities-card__img {
  margin-bottom: 20px;
}

.activities {
  margin-bottom: 100px;
}

.footer {
  height: 900px;
  background-color: #0A223D;
  padding: 103px 181px 0px 125px;
}

.container-card__img {
  width: 158px;
  height: 176px;
}

.container-card__span {
  color: #BDBDBD;
  font-size: 14px;
}

.container-card__block--1 {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  height: 230px;
  position: relative;
  bottom: 3px;
}

.footer-container__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 104px;
}

.container-card__block--2 {
  display: flex;
  flex-direction: column;
  line-height: 1.37;
}

.block-2-2__title {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 43px;
}

.block-2__container {
  margin-top: 36px;
  display: flex;
  align-items: center;
  height: 25px;
}

.block-2__container--img {
  margin-right: 13px;
}

.container-card__block--3 {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  height: 220px;
  margin: 0;
  position: relative;
  bottom: 7px;
}

.block-2__title {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 29px;
}

.block-1__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 26px;
}

.block-3__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 27px;
}

.footer-container__card--2 {
  max-width: 1110px;
  margin: auto;
}

.contact-title {
  color: white;
  text-transform: uppercase;
  font-style: 18px;
  margin-bottom: 38px;
}

.contact-span {
  color: #bdbdbd;
  font-size: 14px;
  display: block;
  margin-bottom: 29px;
}

.contact-span__2 {
  color: #bdbdbd;
  font-size: 14px;
  margin-left: 20px;
}

.contact-block-1 {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.block-2__span {
  color: #bdbdbd;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.tel-img {
  margin-right: 20px;
}

.block-2__span--2 {
  display: block;
  color: #bdbdbd;
  font-size: 14px;
  margin-left: 43px;
}

.contact-block-2 {
  margin-bottom: 31px;
}

.block-3__span {
  color: #bdbdbd;
  font-size: 14px;
  margin-left: 20px;
}

.contact-block-3 {
  display: flex;
  align-items: center;
}

.message-title {
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  margin-bottom: 35px;
}

.card-2__message {
  width: 540px;
  margin-left: 83px;
}

.message-block__1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.block-1__input {
  width: 255px;
  height: 50px;
  border-radius: 4px;
  border: 0;
}

.block-1__input--2 {
  width: 539px;
  height: 123px;
  border: 0;
  border-radius: 4px;
  padding: 21px 0px 0px 22px;
  margin-bottom: 22px;
}

.footer-container__card--2 {
  display: flex;
}

.block-2__button {
  width: 160px;
  height: 50px;
  background-color: #EC1F46;
  color: white;
  border: 0;
  border-radius: 4px;
}

.message-block__2--span {
  color: white;
  font-size: 12px;
}

.message-block__2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=style.css.map */